.expert{
    .main-cards{
        margin-left: -100px;
 

        @media screen and (max-width:1460px) {
            margin-left: 40px;
            margin-right: 0px;
        }
        .cards{
            margin: 100px;
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            place-items: center;
            
        }
        
        .space{
            height: 10px;
        }
        

        @media screen and (max-width:1200px) {
            margin-left: 40px;
            margin-right: 0px;
            .cards{
                margin: 10px;
                display: grid;
                grid-template-columns: auto auto auto;
                place-items: center;
                grid-row: span;
                
            }
        }
        @media screen and (max-width: 900px) {
            margin-left: 0px;
            margin-right: 0px;
            .cards{
                margin: 10px;
                display: grid;
                grid-template-columns: auto auto;
                place-items: center;
            }
            .space{
                display: none;
            }
        }


        @media screen and (max-width: 700px) {
            margin-left: 0px;
            margin-right: 0px;
            width: 100%;
            .cards{
                margin: 10px;
                display: grid;
                grid-template-columns: auto auto;
                place-items: center;
            }
            .space{
                display: none;
            }
        }

    }
}