
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.index{
    padding-left: 50px;
    padding-right: 30px;
    .top{
        display: grid;
        grid-template-columns: 20% 40% 20%;
        .menu{
            list-style-type: none;
            font-style: none;
            line-height: 80px;
            font-size: 25px;
            .active{
                text-decoration: line-through;
                text-decoration-color: #ff4e4e;
            }        
            a{
                color: black;
                text-decoration: none;
                font-family: 'Quicksand', sans-serif;
            }
            .cart{
                border-radius: 100px;
                width: 50%;
                // color: orange;
                background-color: #ff4e4e;
                
                p{
                    font-family: 'Quicksand', sans-serif;
                    color: white;
                    text-align: center;
                    align-items: center;
                    align-self: center;
                }
            }
        }
        .content{
            margin-top: -120px;
            .what{
                font-size: 80px;
                font-family: 'Playfair Display', serif;
            }
        }
        .content-1{
            margin-left: 80px;
            padding-left: 100px;
            font-size: 20px;
            .small{
                font-family: 'Quicksand', sans-serif;
            }
            .underline{
                text-decoration: underline;
                text-decoration-color: #ff4e4e;
                color: #ff4e4e;   
            }
        }
    }
}