@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


.Cards{
    
    background: #fff;
    box-shadow: 0 8px 30px -7px #9ba2a7;
    margin: 10px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;
    height: 200px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .card-img{
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            border-radius: 100%;
            margin: 15px auto 0;
            // box-shadow: 0 8px 20px -4px #95abbb;
            width: 100px;
            height: 100px;
            
        }
    }

    .card-title{
        p{
            color: black;
            font-size: 18px;
            font-style: bold;
            text-decoration: none;
            font-family: 'Josefin Sans', sans-serif;
        }
    }

    .active {
        opacity: 0.5;
        transition: all 0.3s;
    }

    .card-desc{
        p{
            font-size: 18px;
            color: #555;
            padding-bottom: 15px;
            text-decoration: none;
        }
    }
    
    @media screen and (max-width:1610px) {
        height: 300px;
        width: 250px;
        .card-img{
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                border-radius: 10%;
                margin: 15px 10px 0;
                // box-shadow: 0 8px 20px -4px #95abbb;
                width: 180px;
                
            }
        }
        .card-title{
            p{
                color: #01b0f8;
                font-size: 18px;
                line-height: 1.3;
                text-decoration: none;
            }
        }

        .active {
            opacity: 0.5;
            transition: all 0.3s;
        }

        .card-desc{
            p{
                font-size: 18px;
                color: #555;
                margin-bottom: 15px;
                text-decoration: none;
            }
        }
    }
    @media screen and (max-width:1460px) {
        height: 300px;
        width: 250px;

        .card-img{
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                border-radius: 10%;
                margin: 15px 10px 0;
                // box-shadow: 0 8px 20px -4px #95abbb;
                width: 180px;
                
            }
        }
        .card-title{
            p{
                color: #01b0f8;
                font-size: 18px;
                line-height: 1.3;
                text-decoration: none;
            }
        }

        .active {
            opacity: 0.5;
            transition: all 0.3s;
        }

        .card-desc{
            p{
                font-size: 18px;
                color: #555;
                margin-bottom: 15px;
                text-decoration: none;
            }
        }
    }
    @media screen and (max-width: 700px) {
        height: 300px;
        width: 250px;
        margin-bottom: 50px;

        .card-img{
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                border-radius: 10%;
                margin: 15px 10px 0;
                // box-shadow: 0 8px 20px -4px #95abbb;
                width: 180px;
                
            }
        }
        .card-title{
            p{
                color: #01b0f8;
                font-size: 18px;
                line-height: 1.3;
                text-decoration: none;
            }
        }

        .active {
            opacity: 0.5;
            transition: all 0.3s;
        }

        .card-desc{
            p{
                font-size: 18px;
                color: #555;
                margin-bottom: 15px;
                text-decoration: none;
            }
        }
    }
}