.header{
    padding-left: 50px;
    width: 10px;
    .lorem{
        // padding-bottom: -10px;
        .ipsum{
            font-family: 'Playfair Display', serif;
            font-size: 50px;
        }
    }
}